@media (max-width: 1023px) {
  #overlay {
    display: none;
  }
  .menu-responsive{
    display: none;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .navbar-main{
    display: none;
  }
  .menu-responsive{
    display: block;
  }
  .related-product-title{
    text-align: center;
  }
  .final-total{
    padding: 29px 30px;
  }
  .qty-number{
    display: flex;
  }
  .product-button{
    left: 37%;
  }
  .contact-recommend-content{
    display: none;
  }
  
}
/* Mobile */
@media (max-width: 739px) {
    .navbar-main{
        display: none;
    }
    .menu-responsive{
        display: block;
      }
    .banner-content {
      top: 45%;
      left: 24%;
    }
    .banner-image {
      margin-top: 14px;
    }
    
    .product-button {
      left: 32%;
    }
    .related-product-title{
      text-align: center;
    }
    #mixedSlider .MS-content .item{
      width: 50%;
    }
    .final-total {
      padding: 30px 144px;  
  }
    .qty-number{
      display: flex;
    }
    .contact-recommend-content{
      display: none;
    }

    .address-title{
      text-align: center;
    }
    .address-content{
      display: none;
    }
    .social-content{
      display: none;
    }
    .continue-buy{
      display: grid;
    }

    
}
/* Iphone 6/7/8 plus */
@media (max-width: 736px) and (min-width:414px){
  
}

